<form action="">
    <!-- берем от пользователя данные, они отсюда уходят в Users методом пост, а сюда приходят данные из Controller.php  -->
    <!-- $userName $isAuth -->
    <!-- Пользуясь ООП просто представляем себе один объект, его поля и методы и всё, всё остальное- взаимодействие между объектами -->
</form>

<a href="/">Главная</a><br>
<a href="/product/catalog">Каталог</a><br><!-- каталогом будет заниматься контроллер product, и в нём будет action, по умолчанию будем ипольз.index -->
<a href="/basket">Корзина</a><br>  <!-- /controller/action/?any value -->